:root {
  --shadowsizeMinus: calc(-1 * (0.2vh + 0.2vw));
  --shadowsizePlus: calc((0.2vh + 0.2vw));
}
.home {
  margin-top: 6vh;
  margin-left: 10%;
  width: 80%;
  border: calc(0.1vh + 0.1vw) solid rgb(187, 186, 186);
  border-radius: calc(1vh + 1vw);
  box-shadow: var(--shadowsizeMinus) var(--shadowsizeMinus)
    var(--shadowsizePlus) var(--shadowsizeMinus) rgba(34, 60, 80, 0.6) inset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home input {
  padding-left: 2%;
  font-size: calc(1vh + 1vw);
  border: calc(0.1vh + 0.1vw) solid rgb(187, 186, 186);
  border-radius: calc(0.5vh + 0.5vw);
  width: 60%;
  background-color: white;
}
input:read-only {
  color: lightgray;
}
.sbButn {
  position: absolute;
  bottom: 10vh;
  right: 16vw;
  background-color: #52cf4fff;
  border-radius: calc(0.2vh + 0.2vw);
  color: white;
  height: 4vh;
  width: 9vw;
}
.sbButndis {
  position: absolute;
  bottom: 10vh;
  right: 16vw;
  background-color: #afafafff;
  border-radius: calc(0.2vh + 0.2vw);
  color: white;
  height: 4vh;
  width: 9vw;
}
.beuBtn {
  background-color: #4b51efff;
  border-radius: calc(0.2vh + 0.2vw);
  color: white;
  height: 4vh;
  width: 12vw;
}
.home div {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.home label {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}
@media (min-aspect-ratio: 1/3) and (max-width: 900px) {
  .sbButn,
  .sbButndis {
    width: calc(7vh + 7vw);
    bottom: 45vh;
  }
  .beuBtn {
    width: calc(7vh + 7vw);
  }
}
